*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.main{
    border: 0px solid black;
    width: 100%;
    height: 70px;
    /* background: linear-gradient(to top, rgba(0, 0, 0,0,5)50%, rgba(0, 0, 0,0,5)50%), url(./sea\ view\ image.jpeg); */
    background-image: url(./seatides2.jpeg);
    /* background-position: center; */
    background-size: cover;
    height: 70px;
    background-color: rgb(153, 170, 201);


}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color: orangered;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}
.menu{
    width: 100%;
    /* float: left; */
    height: 70px;
    align-items: flex-start;
    /* background-color: brown; */
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
ul li{
    list-style: none;
    margin-left: 92px;
    margin-top: 27px;
    font-size: 18px;
   
    align-items: center;
    display: flex;
    justify-content: center;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family:Arial ;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: rgb(185, 137, 47);
}


/* main nav bar style end */

/* page start 2 */

#div1{
    position:absolute;
    border: 0px solid black;
    width: 100%;
    height: 850px;
    background-image: url(./asdfhjkl;jghifgcgjcgj.jpg);
    background-size: cover;
   
    

}
#text1{
    border: 2px solid whitesmoke;
    height: 400px;
    width: 750px;
    text-align:center;
    margin-left: 300px;
    margin-top: 200px;
    z-index: -1;
    font-size: 40px;
    color: white;
    

}
#explore{
    margin-left: -10px;
    font-size: 20px;
   
    margin-top: 80px;
    

   
    
}

#seaview{
    display: flex;
    justify-content: space-evenly;
    margin-left: -170px;
    /* margin-right: 200px; */
    padding: 0px;
    align-items: center;
    width: 400px;
    float: left;
    height: 70px;
    margin-top: -10px;
    background-color:rgb(153, 170, 201);


}


#l1{
    margin-left: 150px;
}